Global styles
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background:#F3F4F4;
    color: black;
    min-height: 100%;
}
a{
    text-decoration: none;
    color: black;
}
/*header styles*/
header{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: rgb(248, 248, 248);
}
.logout{
    float: right;
    margin: 30px;
}
.logout a{
    color: #152036;
}
.logout button{
    width: 80px;
    border: none;
    color: white;
    border-radius: 5px;
}
.logout button:hover{
    background: #eff;

}
.logout a:hover{
    color: #152036;
}
.admin {
    color: #152036;
    margin-top: 100px;
    text-align: center;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.store-name{
    float: left;
    width: 40%;
}
.nav-bar{
    margin-top: 30px;
    margin-bottom: 20px;
}
.nav-bar h1{
    color: white;
    text-align: center;
}
/* Body styles*/
.dashboard{
    box-sizing: border-box;
    width: 90%;
    margin: 50px 0 0 100px;
    text-align: center;
    height: 430px;
}
.dashboard h1{
    margin-top: 30px;
}
.top{
    height: 100px;
}
.create{
    width: 40%;
    float: left;
    height: 85px;
}

.products{
    width: 40%;
    float: left;
    height: 85px;
}
.sales{
    width: 40%;
    height: 85px;
    float: left;
  
}
.category{
    float: left;
    width: 40%;
    height: 85px;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
    transition: 0.3s;
    margin: 20px;
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    font-family: 'Goblin One', cursive;
}
.card a{ 
    color: #152036;
    font-size: 10px;
}
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
}
  /* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}
.container {
    padding: 2px 16px;
}
/*footer styles*/
.foot{
    width: 100%;
    text-align: center;
    padding: 10px;
    bottom: 0;
}
.foot img{
    height: 14px;
}

